bandit
black
bottle
codespell
cryptography
docutils!=0.18
elasticsearch
flake8
mypy
psycopg2
pylint
pymongo
pymongo[srv]
pyOpenSSL
rstcheck[sphinx]
Sphinx
sphinxcontrib-httpdomain
sphinx_rtd_theme
sphinx-lint
sqlalchemy
tinydb
